.inline-block {
    display: inline-block;
    vertical-align: top;
    color: aliceblue;
    padding: 15px 20px;
}
#navigation {
    width: 100%;
    height:100px;
    background-color:#3C4043;
    font-family: "Open Sans" ;
   
}

.logo {
    size: 10%;
    padding: 1%;
    float: left;
    margin: 0 5px;
 }
    
.nav{
    
    padding: 1%;
    
}
.navUi {
    width: auto;
    float: right;
    margin-top: 8px;
   
}

.content {
    background-color: #3C4043;
    display: flex;
    padding: 15px;
    
}

.aboutMe {
 width: 50%;
}

.heroImg {
 width: 50%;
}

.h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 5rem;
    color: aliceblue;
}

h2 {
    font-family: open Sans;
    font-size: 2rem;
    color: #3C4043 ;
    text-align: center;
}

h3 {
    font-family: open Sans;
    font-size: 1.2rem;
    color: #3C4043 ;
}

p {
    font-family: open Sans;
    font-size: 1rem;
    color: #3C4043 ;
}
.p {
    font-family: Open Sans;
    color: aliceblue;
    font-size:1.5rem ;
}


.footer{
    background-color:#3C4043;
    font-family: "Open Sans" ;
    text-align: center;
    width: 100%;
}

button {
   font-size: 16px; 
   padding: 15px;
   width: 200px;
   height: 60px;
   text-align: center;
   background-color: #EC41AE;
   font-family: Open Sans;
   color: white;
   border: 0px;
}
/*<!--  My UX Skills section coded using CSS flex -->*/
#mySkill{
    background-color: aliceblue;
    padding: 15px;
    text-align: center;
}

.flexContainer {
    display: flex;
    background-color: aliceblue;
    padding: 15px;
    justify-content: space-between;
    height: 300px;
    
}

.flexChild {
    flex-basis: 24%;
    margin: 10px;  
}

/*<!--  My Work section coded using CSS flex -->*/

#myWork{
    background-color: rgb(250, 234, 249);
    padding: 15px;
    
}

.workGrid {

    display:grid;
    padding: 15px;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-areas: "myAreaL myArea" "myAreaL myArea" "myAreaL myArea";
    align-items: center;
    row-gap: 1em;
}

.gridIMG {
    width: 90%;
 }


@media only screen and (max-width:600px) {

    p {
        font-family: open Sans;
        font-size: 0.8rem;
        color: #3C4043 ;
    }

  
   
    .flexContainer {
        display: flex;
        flex-direction: column;
        background-color: aliceblue;
        padding: 15px;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }
    
    .workGrid {

        display:grid;
        padding: 15px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
        grid-template-areas: "myAreaL" "myArea" "myAreaL" "myArea" "myAreaL" "myArea" ;
        
        row-gap: 1em;
        height: 100%;
    }
     .gridIMG {
        width: 10%;
     }
}